// FOOTER - LAYOUT
@use '../abstracts' as *;

.footer {
  text-align: center;
  padding: calc($spacing-base * 1.5);
  color: $text-muted;
  font-size: 0.9rem;
  margin-top: 3rem;
  border-top: 1px solid $border-color;
}